html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Encabezado */
.navbar-custom {
    background-color: #a6a6a6; /* gris similar */
    padding: 0.5rem 1rem;
}

    .navbar-custom .nav-link {
        color: white;
        font-weight: 500;
        margin-right: 1rem;
    }

        .navbar-custom .nav-link:hover {
            color: #e0e0e0;
        }

.navbar-brand img {
    height: 40px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#nombreAlumno {
    margin-right: 24px;
}
.homeContainer {
    display: flex;
    flex-direction: column; /* Logo arriba, texto abajo */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: calc(100vh - 60px); /* Ajustá restando el alto de tu menú */
}

#imgHome {
    max-width: 300px; /* Limita el ancho del logo */
    height: auto;
    margin-bottom: 20px; /* Espacio entre logo y texto */
}

#bHome {
    color: black;
    letter-spacing: 20px;
    font-weight: 600;
    text-align: center;
    position: relative;
}

    #bHome::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        height: 4px;
        background: linear-gradient(90deg, black, #a6a6a6, black);
        border-radius: 2px;
    }



